{% extends "base.html" %}
{% block content %}
    <h1>OpenIoTFog Orchestration Toolkit</h1>
    <p>This toolkit manages the OpenIoTFog Nodes Cluster, The Docker Images, Provide support to Devices/Machines, and Container Orchestration in the cluster</p>

    <script>
    console.log("Make sure to keep all page content within the #page-content-wrapper");
    </script>

<!--<p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p>-->
                        <!--<a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a>-->

{% endblock %}

